
<main>
    <div class="relative bg-slate-100 p-12 ">
        <h1 class="text-5xl font-bold">Welcome to Best Bank</h1>
         <p class="mt-4 text-xl">Your Trusted Partner in Financial Success</p>
         <a href="register" class="mt-8 inline-block bg-white text-purple-800 py-2 px-6 rounded-full font-semibold hover:bg-gray-200">Get Started</a>
         <a href="login" class="mt-8 mx-2 inline-block bg-white text-purple-800 py-2 px-6 rounded-full font-semibold hover:bg-gray-200">Log In</a>

    </div>
    <div class="bg-slate-200 p-20 m-20 shadow-xl">
        
        <div class="grid grid-cols-2">
            <div>
                <h1 class="font-semibold text-2xl text-purple-800">
                    BEST BANK
                </h1>
                <p class="text-justify text-lg">
                    Where we're dedicated to providing exceptional financial services to help you achieve your financial goals.
                     Whether you're opening a new account, seeking investment advice, or looking for a loan, our team of experts 
                     is here to support you every step of the way.

                    Explore our wide range of services designed to meet your personal and business banking needs.
                     We strive to deliver personalized solutions and a seamless banking experience.

                    Thank you for choosing us. Your trust is our greatest asset, and we're committed to delivering 
                    the highest level of service and satisfaction.

                    Welcome to a brighter financial future with us!    
                </p>
            </div>
            <div class="mx-5 w-full">
                <img src="/assets/images/crop-men-shaking-hands.jpg" alt="" width="500px" height="500px">
            </div>

        </div>

    </div>
    <div class="bg-slate-200 p-20 shadow-xl">
        <h1 class="text-center P-5 m-5 font-bold text-2xl underline underline-offset-4 decoration-purple-800">
           WHY CHOOSE US?
        </h1>
            <div class="grid grid-cols-3 gap-8 p-10 m-5 justify-center ">
                
                <div>
                    <h1 class="text-xl font-semibold  underline underline-offset-4 decoration-purple-800 p-2 m-2 ">
                        Personalized  Solutions:
                    </h1>
                    <p class="text-justify text-lg">
                        At our bank, we understand that every customer has unique financial needs.
                         Our experienced advisors work closely with you to provide personalized 
                         banking solutions tailored to your goals, whether you're saving for the future, 
                         investing, or managing daily expenses.
                    </p>
                </div>
                <div>
                    <h1 class="text-xl font-semibold  underline underline-offset-8 decoration-purple-800 p-2 m-2 ">
                        Innovative Digital Banking:
                    </h1>
                    <p class="text-justify text-lg">
                        We offer cutting-edge digital banking services that allow you to manage your
                         accounts anytime, anywhere. From mobile banking apps with advanced security 
                         features to online account management tools, we make banking convenient and accessible.

                    </p>
                </div>
                <div>
                    <h1 class="text-xl font-semibold  underline underline-offset-4 decoration-purple-800 p-2 m-2 ">
                        Commitment to Security:
                    </h1>
                    <p class="text-justify text-lg">
                        Your security is our top priority. We employ state-of-the-art encryption and fraud detection
                         technologies to protect your personal and financial information. You can trust us to keep your assets safe and secure.
                    </p>
                </div>
            </div>
    </div>
</main>
