<main>
    <div class=" grid grid-cols-2 gap-4 bg-slate-500">
        <div class="p-10 m-5 justify-center ">
            <ul>
                <p  class="font-bold">REACH US:</p>
                <li class="m-2">Contact us : +254 111 222 333</li>
                <li class="m-2">Visit us : NAIROBI, CBD</li>
            </ul>
        </div>
        <div class="p-10 m-5 ">
            <ul>
                <p  class="font-bold">QUICK LINKS</p>
                <li class="m-2 hover:text-purple-800 hover:underline underline-offset-4 decoration-purple-800  hover:translate-x-1 duration-200  cursor-pointer">
                    <a href="dashboard">Home</a>
                </li>
                <li  class="m-2 hover:text-purple-800 hover:underline underline-offset-4 decoration-purple-800  hover:translate-x-1 duration-200  cursor-pointer">
                    <a href="deposit">Deposits</a>
                </li>
                <li  class="m-2 hover:text-purple-800 hover:underline underline-offset-4 decoration-purple-800  hover:translate-x-1 duration-200  cursor-pointer">
                    <a href="withdraw">Withdrawals</a>
                </li>
                <li  class="m-2 hover:text-purple-800 hover:underline underline-offset-4 decoration-purple-800  hover:translate-x-1 duration-200  cursor-pointer">
                    <a href="transaction-history">Transaction History</a>
                </li>
            </ul>
        </div>
        

    </div>
    <div class="text-center font-bold text-sm bg-slate-500">
        <p>COPYRIGHT 2024</p>
        <p>All rights reserved</p>
    </div>
</main>