<app-header></app-header>
<main>
    <div class="bg-slate-300 p-4 ">
        <ul class="flex flex-row space-x-2">
            <li>
                <a href="dashboard" class="hover:text-purple-800  hover:underline underline-offset-8 decoration-purple-800 cursor-pointer">Home</a>
            </li>
            <li>></li>
            <li class="cursor-pointer">
              Transaction History
            </li>
        </ul>
        
    </div>
    <div class="p-20 ">
        <h1 class="text-center font-semibold text-2xl">
            Your Transaction History
        </h1>
    

    </div>
</main>
<app-footer></app-footer>